@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');


.container {
	max-width: 415px;
	max-height: 750px;
	margin: 0 auto;
	background-color: #ffff00;
}

.tetlaes__first {
	text-align: center;
	margin: auto 0;
	padding-top: 198px;
	font-family: 'Montserrat';
	font-size: 30px;
}

h1{
	
	padding-left: 0 auto;
	font-family: 'Montserrat';
	font-size: 15px;
	text-align: center;
	margin-top: 15px;
}

.title {
	margin-top: 15px;
	padding-left: 0 auto;	
}

.button-calendar {
	border-radius: 50px;
	height: 41px;
	width: 159px;
	outline: none;
	border: none;
	margin-left: 118px;
	margin-top: 37px;
	position: absolute;

	
}

.calendar {
	font-family: 'Montserrat';
	font-size: 15px;
	text-align: center;
	color: #000000;
	text-decoration: none;
	display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.nav {
	position: absolute;
	width: 415px;
	height: 49px;
	top: 750px;
	background: #FFFFFF;
}

.calendar-nav {
	position: absolute;
	left: 282px;
	margin-top: 5px;
}

.onas-nav {
	position: absolute;
	left: 40px;
	margin-top: 5px;
}

.yclugu-nav {
	position: absolute;
	left: 161px;
	margin-top: 5px;
}


